body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('loginimage.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  color: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #ffcc70;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ffcc70;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-link {
  margin-top: 15px;
  font-size: 0.9rem;
}

.signup-link a {
  color: #ffc107;
  text-decoration: none;
}
